 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "nav"
      "main"
      "footer";
    min-height: 100vh;
  }
  
  .dropdownmenu ul, .dropdownmenu li{
    margin: 0px;
    padding: 0px;
  }
  
  .dropdownmenu ul{
     
      list-style: none;
      width: 100%;
  }
  
  .dropdownmenu li{
      float: left;
      position: relative;
      width: auto;
  }
  
  .dropdownmenu a{
      background: #30a6e6;
      color: white;
      display: block;
      font: bold 12px/20px sans-serif;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;      
  }
  
  .dropdownmenu li:hover a{
      background: black;
  }
  
  .imagen img{
      width: 100%;
  }
  
  ul{
    margin: 10px;
  }

  .video iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  main.grid-contenido {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #e0f2f1;
  }
  
  main section {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    grid-area: footer;
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 15px;
  }